In [86]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [87]:
df_movies_metadata = pd.read_csv('movies_metadata_scififantasy.csv')

In [88]:
print(df_movies_metadata.columns)

Index([u'Unnamed: 0', u'belongs_to_collection', u'budget', u'genres',
       u'homepage', u'id', u'original_language', u'overview', u'popularity',
       u'poster_path', u'production_companies', u'production_countries',
       u'release_date', u'revenue', u'runtime', u'spoken_languages', u'status',
       u'tagline', u'title', u'video', u'vote_average', u'vote_count', u'year',
       u'return', u'sub_genres'],
      dtype='object')

In [89]:
df_movies_metadata.head()

,Unnamed: 0,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
0,1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.015539,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035,space/robot/dystopian/fantasy/monster/
1,23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.133094,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN,alien/dystopian/fantasy/
2,28,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.822423,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.096589,robot/dystopian/fantasy/monster/
3,31,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.297305,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.723390,robot/time_travel/dystopian/
4,33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.404764,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756,1995,8.471164,time_travel/dystopian/fantasy/monster/

In [90]:
df_movies_metadata.shape

(4844, 25)

In [91]:
'''
create new dataframe: 
year, 
total_no_of_movies,
genre1_count
genre2_count
...
genre9_count
'''
df_movies_metadata = df_movies_metadata[['year','sub_genres']]

In [92]:
df_movies_metadata.head(10)
# df_movies_metadata = df_movies_metadata.join(df_movies_metadata['sub_genres'].str.split('/', expand=True).add_prefix('sub_genres'))

   year                                         sub_genres
0  1995             space/robot/dystopian/fantasy/monster/
1  1995                           alien/dystopian/fantasy/
2  1995                   robot/dystopian/fantasy/monster/
3  1995                       robot/time_travel/dystopian/
4  1995             time_travel/dystopian/fantasy/monster/
5  1995  alien/space/robot/time_travel/super/dystopian/...
6  1995                         dystopian/fantasy/monster/
7  1995                               alien/space/fantasy/
8  1996                  space/time_travel/monster/techno/
9  1995  alien/space/robot/time_travel/super/dystopian/...

In [93]:
# alien, robot, dystopian, fantasy, monster, time_travel, techno, 
df_movies_metadata['alien'] = np.where(df_movies_metadata['sub_genres'].str.contains('alien'), 1, 0)
df_movies_metadata['robot'] = np.where(df_movies_metadata['sub_genres'].str.contains('robot'), 1, 0)
df_movies_metadata['dystopian'] = np.where(df_movies_metadata['sub_genres'].str.contains('dystopian'), 1, 0)
df_movies_metadata['fantasy'] = np.where(df_movies_metadata['sub_genres'].str.contains('fantasy'), 1, 0)
df_movies_metadata['monster'] = np.where(df_movies_metadata['sub_genres'].str.contains('monster'), 1, 0)
df_movies_metadata['time_travel'] = np.where(df_movies_metadata['sub_genres'].str.contains('time_travel'), 1, 0)
df_movies_metadata['techno'] = np.where(df_movies_metadata['sub_genres'].str.contains('techno'), 1, 0)
df_movies_metadata['super'] = np.where(df_movies_metadata['sub_genres'].str.contains('super'), 1, 0)
df_movies_metadata['space'] = np.where(df_movies_metadata['sub_genres'].str.contains('space'), 1, 0)

In [94]:
# Set everything in sub_genres to 1, set column name to movie_count
df_movies_metadata['sub_genres'] = 1
df_movies_metadata.rename(columns={'sub_genres':'movies_count'}, inplace=True)

In [95]:
df_movies_metadata.loc[df_movies_metadata['year'].values=='1896']

,year,movies_count,alien,robot,dystopian,fantasy,monster,time_travel,techno,super,space
4558,1896,1,0,0,1,1,1,0,0,1,1

In [124]:
df_movies_agg = df_movies_metadata.groupby('year').sum()

df_movies_agg

# df.rename({'sub_genres':'movie_count', '$b':'b', '$c':'c', '$d':'d', '$e':'e'}, axis=1)

,movies_count,alien,robot,dystopian,fantasy,monster,time_travel,techno,super,space
year,,,,,,,,,,
1896,1,0,0,1,1,1,0,0,1,1
1897,1,0,1,0,1,1,1,0,0,1
1898,7,1,2,1,7,0,3,0,0,6
1899,3,1,1,1,3,0,0,0,0,3
1900,2,0,1,0,2,0,0,0,0,2
1901,2,0,1,1,2,0,0,0,0,2
1902,2,0,2,0,2,0,0,0,0,1
1903,9,0,3,0,9,2,2,0,0,7
1904,2,0,1,1,2,1,0,0,0,2
1905,2,1,0,1,2,0,2,0,0,2
1906,4,1,1,1,4,0,1,0,0,3
1907,3,0,1,0,3,0,0,0,0,0
1908,2,0,1,1,1,0,0,0,0,0
1909,3,0,0,1,3,1,1,0,0,2
1910,3,1,2,0,2,2,0,0,0,1
1911,2,0,1,0,2,0,1,0,0,0
1912,2,0,2,0,1,0,0,0,0,1
1914,1,0,1,0,1,0,0,0,0,0
1915,2,0,1,1,2,1,0,0,0,0
1916,2,0,2,1,1,0,1,0,0,1
1917,1,0,0,0,1,1,0,0,0,0
1918,1,0,1,1,1,0,0,0,0,0
1919,1,0,1,1,1,0,1,0,0,1
1920,2,0,0,0,0,1,0,0,0,1
1921,3,0,1,2,3,0,0,0,0,0
1922,3,1,2,1,3,1,1,1,0,1
1923,3,0,0,2,3,0,0,0,0,0
1924,8,1,6,3,7,2,3,0,0,2
1925,3,0,0,1,2,2,0,0,0,1
1926,3,0,2,1,3,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1991,60,16,34,39,31,14,34,6,2,20
1992,52,13,41,39,30,12,31,7,1,22
1993,63,24,40,34,31,16,38,8,5,19
1994,75,21,53,48,37,24,44,8,3,20
1995,88,30,59,57,39,25,37,20,7,28
1996,78,26,52,40,35,18,38,12,4,26
1997,91,34,64,56,49,20,45,16,5,28
1998,85,28,52,46,45,19,43,13,3,30
1999,84,24,58,49,45,17,40,16,8,38
2000,72,17,46,37,39,20,39,12,5,23
2001,98,27,67,48,52,25,44,18,4,42
2002,107,36,70,57,48,24,50,14,6,40
2003,88,33,56,53,35,15,39,21,7,23
2004,98,39,61,55,46,31,39,18,6,32
2005,112,36,81,67,63,42,50,12,10,39
2006,131,39,98,71,73,37,50,18,17,36
2007,124,40,85,78,64,34,59,16,12,41
2008,149,49,97,93,79,44,75,31,20,63
2009,185,64,122,120,85,40,82,30,18,78
2010,154,54,108,95,77,46,65,23,17,42
2011,178,61,123,101,87,43,78,27,20,62
2012,142,51,90,82,69,36,55,12,10,49
2013,176,64,114,102,79,48,73,24,15,62
2014,184,76,134,119,77,42,80,26,13,66
2015,213,67,138,108,93,54,76,36,21,64
2016,143,57,98,88,69,38,57,22,23,55
2017,78,37,52,49,33,15,30,16,14,30
2018,1,1,1,1,1,1,1,0,0,1
2020,1,0,1,0,1,0,1,0,0,0
NaT,7,2,3,1,0,2,4,0,1,0

In [151]:
df_movies_agg['alien'] = df_movies_agg['alien'] / df_movies_agg['movies_count'] * 10
df_movies_agg['robot'] = df_movies_agg['robot'] / df_movies_agg['movies_count'] * 10
df_movies_agg['dystopian'] = df_movies_agg['dystopian'] / df_movies_agg['movies_count'] * 10
df_movies_agg['fantasy'] = df_movies_agg['fantasy'] / df_movies_agg['movies_count'] * 10
df_movies_agg['monster'] = df_movies_agg['monster'] / df_movies_agg['movies_count'] * 10
df_movies_agg['time_travel'] = df_movies_agg['time_travel'] / df_movies_agg['movies_count'] * 10
df_movies_agg['techno'] = df_movies_agg['techno'] / df_movies_agg['movies_count'] * 10
df_movies_agg['super'] = df_movies_agg['super'] / df_movies_agg['movies_count'] * 10
df_movies_agg['space'] = df_movies_agg['space'] / df_movies_agg['movies_count'] * 10

In [152]:
df_movies_agg.round(2)

,movies_count,alien,robot,dystopian,fantasy,monster,time_travel,techno,super,space
year,,,,,,,,,,
1896,1,0.00,0,1,1,1,0,0,1,1
1897,1,0.00,1,0,1,1,1,0,0,1
1898,7,1.43,2,1,7,0,3,0,0,6
1899,3,3.33,1,1,3,0,0,0,0,3
1900,2,0.00,1,0,2,0,0,0,0,2
1901,2,0.00,1,1,2,0,0,0,0,2
1902,2,0.00,2,0,2,0,0,0,0,1
1903,9,0.00,3,0,9,2,2,0,0,7
1904,2,0.00,1,1,2,1,0,0,0,2
1905,2,5.00,0,1,2,0,2,0,0,2
1906,4,2.50,1,1,4,0,1,0,0,3
1907,3,0.00,1,0,3,0,0,0,0,0
1908,2,0.00,1,1,1,0,0,0,0,0
1909,3,0.00,0,1,3,1,1,0,0,2
1910,3,3.33,2,0,2,2,0,0,0,1
1911,2,0.00,1,0,2,0,1,0,0,0
1912,2,0.00,2,0,1,0,0,0,0,1
1914,1,0.00,1,0,1,0,0,0,0,0
1915,2,0.00,1,1,2,1,0,0,0,0
1916,2,0.00,2,1,1,0,1,0,0,1
1917,1,0.00,0,0,1,1,0,0,0,0
1918,1,0.00,1,1,1,0,0,0,0,0
1919,1,0.00,1,1,1,0,1,0,0,1
1920,2,0.00,0,0,0,1,0,0,0,1
1921,3,0.00,1,2,3,0,0,0,0,0
1922,3,3.33,2,1,3,1,1,1,0,1
1923,3,0.00,0,2,3,0,0,0,0,0
1924,8,1.25,6,3,7,2,3,0,0,2
1925,3,0.00,0,1,2,2,0,0,0,1
1926,3,0.00,2,1,3,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1991,60,2.67,34,39,31,14,34,6,2,20
1992,52,2.50,41,39,30,12,31,7,1,22
1993,63,3.81,40,34,31,16,38,8,5,19
1994,75,2.80,53,48,37,24,44,8,3,20
1995,88,3.41,59,57,39,25,37,20,7,28
1996,78,3.33,52,40,35,18,38,12,4,26
1997,91,3.74,64,56,49,20,45,16,5,28
1998,85,3.29,52,46,45,19,43,13,3,30
1999,84,2.86,58,49,45,17,40,16,8,38
2000,72,2.36,46,37,39,20,39,12,5,23
2001,98,2.76,67,48,52,25,44,18,4,42
2002,107,3.36,70,57,48,24,50,14,6,40
2003,88,3.75,56,53,35,15,39,21,7,23
2004,98,3.98,61,55,46,31,39,18,6,32
2005,112,3.21,81,67,63,42,50,12,10,39
2006,131,2.98,98,71,73,37,50,18,17,36
2007,124,3.23,85,78,64,34,59,16,12,41
2008,149,3.29,97,93,79,44,75,31,20,63
2009,185,3.46,122,120,85,40,82,30,18,78
2010,154,3.51,108,95,77,46,65,23,17,42
2011,178,3.43,123,101,87,43,78,27,20,62
2012,142,3.59,90,82,69,36,55,12,10,49
2013,176,3.64,114,102,79,48,73,24,15,62
2014,184,4.13,134,119,77,42,80,26,13,66
2015,213,3.15,138,108,93,54,76,36,21,64
2016,143,3.99,98,88,69,38,57,22,23,55
2017,78,4.74,52,49,33,15,30,16,14,30
2018,1,10.00,1,1,1,1,1,0,0,1
2020,1,0.00,1,0,1,0,1,0,0,0
NaT,7,2.86,3,1,0,2,4,0,1,0