In [2]:
# join movies_metadata with credits.csv using id
# also add in all sub_genres and indicate whether sub_genre exist with 1 or 0

import pandas as pd
import numpy as np

In [3]:
# read movie metadata with imdb_id, movie_title, plot
df_plots = pd.read_csv('movie_plot_imdbid.csv')
# add all subgenre columns
df_plots["alien"] = 0
df_plots["space"] = 0
df_plots["robot"] = 0
df_plots["time_travel"] = 0
df_plots["super"] = 0
df_plots["dystopian"] = 0
df_plots["monster"] = 0
df_plots["techno"] = 0
df_plots["fantasy"] = 0

In [5]:
df_plots.head(10)

,Movie_title,imdb_id,plot,alien,space,robot,time_travel,super,dystopian,monster,techno,fantasy
0,Avatar,tt0499549,"In 2154, humans have depleted Earth's natural ...",0,0,0,0,0,0,0,0,0
1,Star Wars: The Force Awakens,tt2488496,"Thirty years after the Galactic Civil War, the...",0,0,0,0,0,0,0,0,0
2,The Avengers,tt0848228,"The Asgardian Loki encounters the Other, the l...",0,0,0,0,0,0,0,0,0
3,Jurassic World,tt0369610,Teenaged brothers Zach and Gray Mitchell visit...,0,0,0,0,0,0,0,0,0
4,Harry Potter and the Deathly Hallows: Part 2,tt1201607,"After burying Dobby, Harry Potter asks the gob...",0,0,0,0,0,0,0,0,0
5,Captain America: Civil War,tt3498820,"In 1991, the brainwashed super-soldier James ""...",0,0,0,0,0,0,0,0,0
6,The Lord of the Rings: The Return of the King,tt0167260,"Two Hobbits, Sméagol and Déagol, are fishing w...",0,0,0,0,0,0,0,0,0
7,Rogue One: A Star Wars Story,tt3748528,Research scientist Galen Erso and his family a...,0,0,0,0,0,0,0,0,0
8,E.T. the Extra-Terrestrial,tt0083866,A group of alien botanists secretly visit Eart...,0,0,0,0,0,0,0,0,0
9,Inception,tt1375666,"Dominick ""Dom"" Cobb and Arthur are ""extractors...",0,0,0,0,0,0,0,0,0

In [6]:
# sub_genre score function
# input: dataframe, subgenre column name, list of keywords
# output: assign score to given sub_genre column:
# alien, robot, dystopian, fantasy, monster, time_travel, techno, super, space
def search(df, sub_genre, keywords):
    """
    Return the dataframe sub_genre column populated with total count of occurence of keywords
    """
    # df[['plot']] = df[['plot']].astype(str)
    for index, row in df.iterrows():
        for word in keywords:
            word_count = pd.Series(df['plot'][index]).str.count(word).sum()
            df[sub_genre][index] = df[sub_genre][index] + word_count

In [8]:
alien_keywords = [
  'saucer',
  'alien',
  'life',
  'human',
  'extraterrestrial',
  'ufo',
  'parasite',
  'meteorite',
  'meteor',
  'ET',
  'saucers',
  'aliens',
  'extraterrestrials',
  'ufos',
  'parasites',
  'meteorites',
  'meteors',
  'supernatural',
  'xenomorph',
  'area 51',
  'xenomorphs',
]

space_keywords = [
  'luke',
  'star',
  'spaceship',
  'battle',
  'interstellar',
  'planet',
  'enterprise',
  'skywalker',
  'darth',
  'droid'
  'earth',
  'spock',
  'kirk',
  'space',
  'capt',
  'moon',
  'spacecraft',
  'crew',
  'comet',
  'mars',
  'galaxy', 'nebula', 'astronaut', 'galaxies', 'nebulas', 'astronauts', 'stars', 'spaceships', 'battles', 'planets', 'droids', 'moons', 'spacecrafts', 'comets', 'jupiter', 'pluto', 'venus', 'sun', 'suns', 'neptune', 'asteroid', 'asteroids', 'meteor', 'meteors', 'meteorites', 'meteorite', 'mercury', 'antimatter', 'black hole', 'celestial', 'comet', 'comets', 'cosmic', 'constellation', 'exoplanet', 'lodestar', 'milky way', 'nova', 'supernova', 'pulsar', 'quasar', 'satellite', 'satellites', 'solar', 'world', 'eclipse', 'universe', 'interplanetary',
]

robot_keywords = [
  'cop',
  'ai',
  'cyborg',
  'terminator',
  'army',
  'android',
  'weapon',
  'robot',
  'intelligence',
  'machine',
  'artificial', 'mech', 'machina', 'mecha', 'cyborgs', 'terminators', 'armies', 'androids', 'droid', 'droids', 'weapons', 'robots', 'machines', 'robotic', 'robotics', 'automaton', 'automatons', 'bot', 'bots', 'bionic', 'bionics', 'mechanism', 'mechanisms',

]

time_travel_keywords = [
  'travel',
  'time',
  'back',
  'frozen',
  'spacetime', 'eternalism', 'futurity', 'future', 'past',

]

super_keywords = [
  'marvel',
  'superman',
  'superpower',
  'super',
  'powers', 'ability', 'abilities', 'dc', 'gifted', 'x-men', 'hero', 'heroes',
]

dystopian_keywords = ['virus', 'future', 'nuclear', 'city', 'epidemic', 'prison', 'dark', 'murder', 'evil', 'violence', 'experiment'\
                      'totalitarian', 'society', 'post-apocalyptic', 'dystopian', 'experiments', 'sinister', 'futuristic', \
                      'radiation', 'biblical', 'mysterious', 'military', 'spy', 'heavenly', 'cloning', 'nazi', 'reich',\
                      'death', 'war', 'drug', 'wasteland',
                      'mutant', 'mutants', 'mutation', 'mutations', 'viruses', 'epidemics', 'clone', 'communism', 'communist', 'communists', 'dystopia', 'clones', 'wastelands', 'apocalypse', 'alternate', 'reality', 'bleak', 'dead', 'zombie', 'zombies', 'apes', 'drought', 'lack', 'dwindling', 'atmosphere', 'cyberpunk', 'political', 'unethical', 'raiders', 'raider',

]

monster_keywords = ['frankenstein', 'vampire', 'werewolf', 'shark', 'spider', 'zombie', 'blob', 'creature', 'troll', 'gypsy', 'ape'\
                      'dinosaur', 'jurassic', 'scientist', 'swamp', 'dinosaurs', 'monster', 'octopus', 'godzilla', 'scorpion',\
                      'ants', 'golem', 'giants', 'serpent', 'crocodile', 'bermuda', 'mutant', 'mutants', 'mutation', 'mutations', 'vampires', 'werewolves', 'sharks', 'spiders', 'zombies', 'dead', 'creatures', 'apes', 'scientists', 'evil', 'swamps', 'monsters', 'octopi', 'scorpions', 'reptile', 'reptilian', 'golems', 'giant', 'hulking', 'serpentine', 'crocodiles', 'genetic', 'engineered', 'aberration', 'beast', 'beasts', 'humanoid', 'humanoids', 'folklore', 'spirit', 'spirits', 'freak', 'demon', 'freaks', 'demons', 'ogre', 'ogres', 'orc', 'orcs', 'elf', 'elves', 'bogeyman', 'behemoth', 'behemoths', 'monstrosity', 'monstrosities', 'colossal', 'colossus', 'leviathan', 'leviathans', 'dracula', 'monstrous', 'ghost', 'ghosts', 'specter', 'specters', 'phantom', 'phantoms', 'apparition', 'apparitions', 'wraith', 'wraiths', 'chimera', 'chimeras',

]

techno_keywords = ['computer', 'cyber', 'matrix', 'chip', 'network', 'serum', 'data', 'virtual', 'reality', 'laser', 'video', 'game'\
                      'player', 'tech', 'memory', 'database', 'computers', 'program', 'matrices', 'databases', 'serums', 'technology', 'technologies', 'code', 'coded', 'codes', 'coding', 'coder', 'coders', 'simulator', 'simulation', 'simulators', 'simulations', 'programs', 'gadget', 'gadgets', 'electronic', 'electronics', 'cyberpunk', 'cyber', 'cybers', 'nano', 'nanotechnology', 'nanotechnologies', 'biotech', 'biotechnology', 'biotechnologies', 'software', 'softwares', 'digital',

]

fantasy_keywords = ['magic', 'magical', 'wizard', 'wizards', 'witch', 'witches', 'wizardry', 'spells', 'spell casting', 'spell caster', 'wand', 'wands', 'hobbit', 'elf', 'elves', 'orc', 'orcs', 'dragon', 'dragons', 'quest', 'quests', 'dwarves', 'dwarven', 'dwarf', 'hobbits', 'elven', 'cursed', 'curse', 'curses', 'goblin', 'goblins', 'spirit', 'spirits', 'wizarding', 'enchant', 'enchantment', 'enchantments', 'enchanted', 'enchanting', 'potion', 'potions', 'alchemy', 'alchemist', 'chemist', 'apothecary', 'elder', 'elders', 'summoner']

In [9]:
search(df_plots, 'alien', alien_keywords)
search(df_plots, 'space', space_keywords)
search(df_plots, 'robot', robot_keywords)
search(df_plots, 'time_travel', time_travel_keywords)
search(df_plots, 'super', super_keywords)
search(df_plots, 'dystopian', dystopian_keywords)
search(df_plots, 'monster', monster_keywords)
search(df_plots, 'techno', techno_keywords)
search(df_plots, 'fantasy', fantasy_keywords)

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
df_plots.head(10)

,Movie_title,imdb_id,plot,alien,space,robot,time_travel,super,dystopian,monster,techno,fantasy
0,Avatar,tt0499549,"In 2154, humans have depleted Earth's natural ...",10,6,8,1,0,8,16,3,8
1,Star Wars: The Force Awakens,tt2488496,"Thirty years after the Galactic Civil War, the...",0,14,7,4,2,6,6,0,6
2,The Avengers,tt0848228,"The Asgardian Loki encounters the Other, the l...",3,3,10,1,1,7,3,0,2
3,Jurassic World,tt0369610,Teenaged brothers Zach and Gray Mitchell visit...,0,1,19,1,1,4,7,0,3
4,Harry Potter and the Deathly Hallows: Part 2,tt1201607,"After burying Dobby, Harry Potter asks the gob...",0,5,9,2,0,16,14,0,18
5,Captain America: Civil War,tt3498820,"In 1991, the brainwashed super-soldier James ""...",1,2,18,0,3,5,2,1,3
6,The Lord of the Rings: The Return of the King,tt0167260,"Two Hobbits, Sméagol and Déagol, are fishing w...",0,2,15,2,0,9,10,0,9
7,Rogue One: A Star Wars Story,tt3748528,Research scientist Galen Erso and his family a...,0,19,15,1,2,8,9,4,5
8,E.T. the Extra-Terrestrial,tt0083866,A group of alien botanists secretly visit Eart...,10,9,3,2,1,3,8,0,4
9,Inception,tt1375666,"Dominick ""Dom"" Cobb and Arthur are ""extractors...",0,6,18,5,0,12,6,9,5

In [11]:
col_list= list(df_plots)
col_list.remove('Movie_title')
col_list.remove('imdb_id')
col_list.remove('plot')
df_plots['total'] = df_plots[col_list].sum(axis=1)

In [12]:
df_plots

,Movie_title,imdb_id,plot,alien,space,robot,time_travel,super,dystopian,monster,techno,fantasy,total
0,Avatar,tt0499549,"In 2154, humans have depleted Earth's natural ...",10,6,8,1,0,8,16,3,8,60
1,Star Wars: The Force Awakens,tt2488496,"Thirty years after the Galactic Civil War, the...",0,14,7,4,2,6,6,0,6,45
2,The Avengers,tt0848228,"The Asgardian Loki encounters the Other, the l...",3,3,10,1,1,7,3,0,2,30
3,Jurassic World,tt0369610,Teenaged brothers Zach and Gray Mitchell visit...,0,1,19,1,1,4,7,0,3,36
4,Harry Potter and the Deathly Hallows: Part 2,tt1201607,"After burying Dobby, Harry Potter asks the gob...",0,5,9,2,0,16,14,0,18,64
5,Captain America: Civil War,tt3498820,"In 1991, the brainwashed super-soldier James ""...",1,2,18,0,3,5,2,1,3,35
6,The Lord of the Rings: The Return of the King,tt0167260,"Two Hobbits, Sméagol and Déagol, are fishing w...",0,2,15,2,0,9,10,0,9,47
7,Rogue One: A Star Wars Story,tt3748528,Research scientist Galen Erso and his family a...,0,19,15,1,2,8,9,4,5,63
8,E.T. the Extra-Terrestrial,tt0083866,A group of alien botanists secretly visit Eart...,10,9,3,2,1,3,8,0,4,40
9,Inception,tt1375666,"Dominick ""Dom"" Cobb and Arthur are ""extractors...",0,6,18,5,0,12,6,9,5,61

In [13]:
ratio = 100
df_plots['alien'] = df_plots['alien'] / df_plots['total'] * ratio
df_plots['robot'] = df_plots['robot'] / df_plots['total'] * ratio
df_plots['dystopian'] = df_plots['dystopian'] / df_plots['total'] * ratio
df_plots['fantasy'] = df_plots['fantasy'] / df_plots['total'] * ratio
df_plots['monster'] = df_plots['monster'] / df_plots['total'] * ratio
df_plots['time_travel'] = df_plots['time_travel'] / df_plots['total'] * ratio
df_plots['techno'] = df_plots['techno'] / df_plots['total'] * ratio
df_plots['super'] = df_plots['super'] / df_plots['total'] * ratio
df_plots['space'] = df_plots['space'] / df_plots['total'] * ratio

In [14]:
df_plots = df_plots.round({'alien': 2, 'space': 2, 'robot': 2, 'time_travel': 2, 'super': 2,\
                           'dystopian': 2, 'monster': 2, 'techno': 2, 'fantasy': 2})

In [15]:
df_plots

,Movie_title,imdb_id,plot,alien,space,robot,time_travel,super,dystopian,monster,techno,fantasy,total
0,Avatar,tt0499549,"In 2154, humans have depleted Earth's natural ...",16.67,10.00,13.33,1.67,0.00,13.33,26.67,5.00,13.33,60
1,Star Wars: The Force Awakens,tt2488496,"Thirty years after the Galactic Civil War, the...",0.00,31.11,15.56,8.89,4.44,13.33,13.33,0.00,13.33,45
2,The Avengers,tt0848228,"The Asgardian Loki encounters the Other, the l...",10.00,10.00,33.33,3.33,3.33,23.33,10.00,0.00,6.67,30
3,Jurassic World,tt0369610,Teenaged brothers Zach and Gray Mitchell visit...,0.00,2.78,52.78,2.78,2.78,11.11,19.44,0.00,8.33,36
4,Harry Potter and the Deathly Hallows: Part 2,tt1201607,"After burying Dobby, Harry Potter asks the gob...",0.00,7.81,14.06,3.12,0.00,25.00,21.88,0.00,28.12,64
5,Captain America: Civil War,tt3498820,"In 1991, the brainwashed super-soldier James ""...",2.86,5.71,51.43,0.00,8.57,14.29,5.71,2.86,8.57,35
6,The Lord of the Rings: The Return of the King,tt0167260,"Two Hobbits, Sméagol and Déagol, are fishing w...",0.00,4.26,31.91,4.26,0.00,19.15,21.28,0.00,19.15,47
7,Rogue One: A Star Wars Story,tt3748528,Research scientist Galen Erso and his family a...,0.00,30.16,23.81,1.59,3.17,12.70,14.29,6.35,7.94,63
8,E.T. the Extra-Terrestrial,tt0083866,A group of alien botanists secretly visit Eart...,25.00,22.50,7.50,5.00,2.50,7.50,20.00,0.00,10.00,40
9,Inception,tt1375666,"Dominick ""Dom"" Cobb and Arthur are ""extractors...",0.00,9.84,29.51,8.20,0.00,19.67,9.84,14.75,8.20,61

In [21]:
# join on gross revenue
movie_metadata = pd.read_csv('movies_metadata_v3.csv')
df_plots = pd.merge(df_plots, movie_metadata[['tconst','revenue']],left_on='imdb_id', right_on='tconst')

In [22]:
df_plots

,Movie_title,imdb_id,plot,alien,space,robot,time_travel,super,dystopian,monster,techno,fantasy,total,tconst,revenue
0,Avatar,tt0499549,"In 2154, humans have depleted Earth's natural ...",16.67,10.00,13.33,1.67,0.00,13.33,26.67,5.00,13.33,60,tt0499549,2787965087
1,Star Wars: The Force Awakens,tt2488496,"Thirty years after the Galactic Civil War, the...",0.00,31.11,15.56,8.89,4.44,13.33,13.33,0.00,13.33,45,tt2488496,2068223624
2,The Avengers,tt0848228,"The Asgardian Loki encounters the Other, the l...",10.00,10.00,33.33,3.33,3.33,23.33,10.00,0.00,6.67,30,tt0848228,1519557910
3,Jurassic World,tt0369610,Teenaged brothers Zach and Gray Mitchell visit...,0.00,2.78,52.78,2.78,2.78,11.11,19.44,0.00,8.33,36,tt0369610,1513528810
4,Harry Potter and the Deathly Hallows: Part 2,tt1201607,"After burying Dobby, Harry Potter asks the gob...",0.00,7.81,14.06,3.12,0.00,25.00,21.88,0.00,28.12,64,tt1201607,1342000000
5,Captain America: Civil War,tt3498820,"In 1991, the brainwashed super-soldier James ""...",2.86,5.71,51.43,0.00,8.57,14.29,5.71,2.86,8.57,35,tt3498820,1153304495
6,The Lord of the Rings: The Return of the King,tt0167260,"Two Hobbits, Sméagol and Déagol, are fishing w...",0.00,4.26,31.91,4.26,0.00,19.15,21.28,0.00,19.15,47,tt0167260,1118888979
7,Rogue One: A Star Wars Story,tt3748528,Research scientist Galen Erso and his family a...,0.00,30.16,23.81,1.59,3.17,12.70,14.29,6.35,7.94,63,tt3748528,1056057273
8,E.T. the Extra-Terrestrial,tt0083866,A group of alien botanists secretly visit Eart...,25.00,22.50,7.50,5.00,2.50,7.50,20.00,0.00,10.00,40,tt0083866,792965326
9,Inception,tt1375666,"Dominick ""Dom"" Cobb and Arthur are ""extractors...",0.00,9.84,29.51,8.20,0.00,19.67,9.84,14.75,8.20,61,tt1375666,825532764

In [23]:
df_plots.to_csv('movies_top10_subgenres_score_v2.csv', sep=',')